[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
[% PROCESS 'authorities.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Authorities &rsaquo;
    [% IF ( unknownauthid ) %]
      Unknown authority record
    [% ELSE %]
      Details for authority #[% authid | html %] ([% authtypetext | html %])
    [% END %]
</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="auth_detail" class="auth">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'authorities-search.inc' %]
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/authorities/authorities-home.pl">Authorities</a> &rsaquo;
    [% IF ( unknownauthid ) %]
      Unknown authority record
    [% ELSE %]
      Details for authority #[% authid | html %] ([% authtypetext | html %])
    [% END %]
</div>

<div class="main container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

    [% INCLUDE 'authorities-toolbar.inc' %]
	
[% IF ( displayhierarchy ) %]
<div id="hierarchies">
[% PROCESS showhierarchy trees = loophierarchies %]
</div>
[% END %]


[% IF ( unknownauthid ) %]
    <div class="dialog message">The authority record you requested does not exist ([% errauthid | html %]).</div>
[% ELSE %]
<h1>Authority #[% authid | html %] ([% authtypetext | html %])</h1>

<div id="action">
    [% IF count %]
        Used in <a href="/cgi-bin/koha/catalogue/search.pl?type=intranet&amp;op=do_search&amp;q=an=[% authid | uri %]">[% count | html %] record(s)</a>
    [% ELSE %]
        This authority is not used in any records.
    [% END %]
</div>

<div id="authoritiestabs" class="toptabs numbered">
    <ul>
        [% FOREACH BIG_LOO IN BIG_LOOP %]
            <li>
                <a href="#tab[% BIG_LOO.number | uri %]XX">[% BIG_LOO.number | html %]</a>
            </li>
        [% END %]
    </ul>

[% FOREACH BIG_LOO IN BIG_LOOP %]
    <div id="tab[% BIG_LOO.number | html %]XX">
    [% FOREACH innerloo IN BIG_LOO.innerloop %]
        [% IF ( innerloo.tag_number ) %]
            <div class="tag">
            <div class="tag_title">
                <span class="tag_num">[% innerloo.tag_number | html %]</span>
                [% IF (innerloo.defined("ind1") ) %]
                    <span class="tag_ind1">[% innerloo.ind1 | html %]</span><span class="tag_ind2">[% innerloo.ind2 | html %]</span>
                [% END %]
                [% IF (innerloo.tag_desc) %]<span class="dashwrapper"> -</span> <span class="tag_desc">[% innerloo.tag_desc | html %]</span>[% END %]
            </div>
        [% ELSE %]
            <div class="tag">
        [% END %]
        [% FOREACH subfiel IN innerloo.subfield %]
            <p>
                <label class="labelsubfield">&nbsp;
                [% UNLESS ( subfiel.hide_marc ) %]<strong>[% subfiel.marc_subfield | html %]</strong>[% END %]
                <span title="[% subfiel.long_desc | html %]" class="desc">[% subfiel.short_desc | html %]</span></label>
                [% IF ( subfiel.is_url ) %]
                    <a href="[% subfiel.marc_value | url %]">[% subfiel.marc_value | html %]</a>
                [% ELSE %]
                    [% subfiel.marc_value | html %]
                [% END %]
                [% IF ( subfiel.link ) %]
                    <a href="/cgi-bin/koha/catalogue/search.pl?op=do_search&amp;marclist=[% subfiel.link | uri %]&amp;operator==&amp;type=intranet&amp;value=[% subfiel.marc_value |url %]">
                        <img src="[% interface | html %]/[% theme | html %]/images/filefind.png" height="15" title="Search on [% subfiel.marc_value | html %]">
                    </a>
                [% END %]
                [% IF ( subfiel.authority ) %]
                    <a href="/cgi-bin/koha/authorities/detail.pl?authid=[% subfiel.authority | uri %]" class="button">Auth</a>
                [% END %]
            </p>
        [% END %]
        </div>
    [% END %]
    </div>
[% END %]
</div>
</div>
</div>
[% END %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'authorities_js.inc' %]
    [% IF ( displayhierarchy ) %]
        [% Asset.js("lib/jquery/plugins/jquery.jstree.js") | $raw %]
    [% END %]
    <script>
        $(document).ready(function() {
            var editAuth = $("#editAuth");
            var editAuthLink = editAuth.attr("href");
            $('#authoritiestabs').tabs({
                activate: function( event, ui ){
                    editAuth.attr("href", editAuthLink + "#" + ui.newPanel.attr('id') );
                }
            });
            [% IF ( displayhierarchy ) %]
                var current_nodes = [];
                $('.currentauth').each(function() {
                    current_nodes.push('#' + $(this).parent().parents('li:first').attr('id'));
                    });
                $('#hierarchies').jstree({
                        "plugins": [ "themes", "html_data"],
                        "themes": { "theme": "classic",
                                    "icons": false },
                        "core": { "initially_open": current_nodes }
                    });
            [% END %]
         });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
