[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
[% PROCESS 'authorities-search-results.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Cataloging authority plugin</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="auth_searchresultlist_auth" class="auth">
    <div class="container-fluid">

    	<h1>Authority search results</h1>
    	[% INCLUDE 'auth-finder-search.inc' %]
        [% IF ( total ) %]<div class="resultnumber">
            [% IF ( displayprev ) %]
                    <a href="auth_finder.pl?startfrom=[% startfromprev | uri %]&amp;authtypecode=[% authtypecode | uri %][% FOREACH searchdat IN searchdata %]&amp;[% searchdat.term | uri %]=[% searchdat.val | uri %][% END %]&amp;op=do_search&amp;type=intranet&amp;index=[% index | uri %]&amp;tagid=[% tagid | uri %]&amp;orderby=[% orderby | uri %]&amp;source=[% source | uri %]">
                        &lt;&lt;
                    </a>
                [% END %]
                [% FOREACH number IN numbers %]
                    [% IF ( number.highlight ) %]
                        [% number.number | html %]
                    [% ELSE %]
                        <a href="auth_finder.pl?startfrom=[% number.startfrom | uri %]&amp;authtypecode=[% authtypecode | uri %][% FOREACH searchdat IN number.searchdata %]&amp;[% searchdat.term | uri %]=[% searchdat.val | uri %][% END %]&amp;op=do_search&amp;type=intranet&amp;index=[% index | uri %]&amp;tagid=[% tagid | uri %]&amp;orderby=[% orderby | uri %]&amp;source=[% source | uri %]">
                            [% number.number | html %]</a>
                    [% END %]
                [% END %]
                [% IF ( displaynext ) %]
                    <a href="auth_finder.pl?startfrom=[% startfromnext | uri %]&amp;authtypecode=[% authtypecode | uri %][% FOREACH searchdat IN searchdata %]&amp;[% searchdat.term | uri %]=[% searchdat.val | uri %][% END %]&amp;op=do_search&amp;type=intranet&amp;index=[% index | uri %]&amp;tagid=[% tagid | uri %]&amp;orderby=[% orderby | uri %]&amp;source=[% source | uri %]">
                        &gt;&gt;</a>
                [% END %]
            <div>
                
                    <p><strong>Results [% from | html %] to [% to | html %] of [% total | html %]</strong></p>
                [% ELSE %]
                    
                
            </div><p>No results found</p>[% END %]
        </div>
        [% IF ( result ) %]<div id="resultlist">
            <table>
                <tr>
                    <th>Summary</th>
                    <th>Used</th>
                    <th>Get it!</th>
                    <th>Other action</th>
                </tr>
                [% FOREACH resul IN result %]
                    <tr>
                        <td>[% PROCESS authresult summary=resul.summary %]</td>
                        <td>[% resul.used | html %] times</td>
                        <td>
                            [% IF resul.summary && resul.summary.authorized && resul.summary.authorized.size > 1 %]
                                [% FOREACH authorized IN resul.summary.authorized %]
                                    <a href="javascript:doauth('[% resul.authid | uri %]', '[% index | uri %]', '[% loop.count | uri %]')" title="[% authorized.heading | html %]">[% loop.count | html %]</a>
                                [% END %]
                          [% ELSE %]
                                <a class="btn btn-xs btn-default" href="javascript:doauth('[% resul.authid | html %]', '[% index | html %]', '')"><i class="fa fa-plus"></i> Choose</a>
                          [% END %]
                        </td>
                        <td><a class="btn btn-xs btn-default" href="authorities.pl?authid=[% resul.authid | html %]"><i class="fa fa-pencil"></i> Edit authority</a></td>
                    </tr>
                [% END %]
            </table>
    
        </div>
        <div class="resultnumber">
            [% IF ( displayprev ) %]
                    <a href="auth_finder.pl?startfrom=[% startfromprev | uri %]&amp;authtypecode=[% authtypecode | uri %][% FOREACH searchdat IN searchdata %]&amp;[% searchdat.term | uri %]=[% searchdat.val | uri %][% END %]&amp;op=do_search&amp;type=intranetamp;&amp;index=[% index | uri %]&amp;tagid=[% tagid | uri %]&amp;orderby=[% orderby | uri %]&amp;source=[% source | uri %]">
                        &lt;&lt;
                    </a>
                [% END %]
                [% FOREACH number IN numbers %]
                    [% IF ( number.highlight ) %]
                        [% number.number | html %]
                    [% ELSE %]
                        <a href="auth_finder.pl?startfrom=[% number.startfrom | uri %]&amp;authtypecode=[% authtypecode | uri %][% FOREACH searchdat IN number.searchdata %]&amp;[% searchdat.term | uri %]=[% searchdat.val | uri %][% END %]&amp;op=do_search&amp;type=intranet&amp;index=[% index | uri %]&amp;tagid=[% tagid | uri %]&amp;orderby=[% orderby | uri %]&amp;source=[% source | uri %]">
                            [% number.number | html %]</a>
                    [% END %]
                [% END %]
                [% IF ( displaynext ) %]
                    <a href="auth_finder.pl?startfrom=[% startfromnext | uri %]&amp;authtypecode=[% authtypecode | uri %][% FOREACH searchdat IN searchdata %]&amp;[% searchdat.term | uri %]=[% searchdat.val | uri %][% END %]&amp;op=do_search&amp;type=intranet&amp;index=[% index | uri %]&amp;tagid=[% tagid | uri %]&amp;orderby=[% orderby | uri %]&amp;source=[% source | uri %]">
                        &gt;&gt;</a>
                [% END %]
        </div>[% END %]
    </div>

[% MACRO jsinclude BLOCK %]
    <script>
        var index = "[% index | html %]";
        var authtypecode = "[% authtypecode | html %]";
    </script>
    [% Asset.js("js/auth-finder-search.js") | $raw %]
    <script>

        function jumpfull(page){
            window.open(page,'','width=100,height=100,resizable=yes,toolbar=false,scrollbars=yes,top');
        }

        function doauth(authid, index, repet){
            [% IF source == 'auth' %]
                var e = document.getElementById("relationship");
                var relationship = e.options[e.selectedIndex].value;

                jumpfull('blinddetail-biblio-search.pl?authid=' + authid + '&index=' + index + '&repet=' + repet + '&relationship=' + relationship);
            [% ELSE %]
                jumpfull('blinddetail-biblio-search.pl?authid=' + authid + '&index=' + index + '&repet=' + repet);
            [% END %]
        }
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' popup_window = 1 %]
